export(weir3a5.sharpcrest)
export(weir3a5.broadcrest)
export(weirbos.broadcrest)
export(weir.broadcrest)
export(weir.sharpcrest)

# Import all packages listed as Imports or Depends
import(
  utils
)

importFrom("stats", "approx")
